<div class="customer-list">
  <h2>Lista Klientów</h2>

  <ng-template [ngIf]="error">
    <div class="error">
      {{ error }}
    </div>
  </ng-template>

  <ng-template [ngIf]="customers.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Dealer</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-customer [ngForOf]="customers">
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.username }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.isDealer }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </ng-template>

  <ng-template #noCustomers>
    <p>Brak klientów do wyświetlenia.</p>
  </ng-template>
</div>
