/* Tło pełnoekranowe */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5; /* Lekko szary kolor */
    z-index: -1; /* Ustawia tło za całą zawartością */
  }
  
  /* Nakładka półprzezroczysta */
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Półprzezroczysta nakładka dla kontrastu tekstu */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Nagłówek */
  .header {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .header p {
    font-size: 1.5rem;
  }
  
  /* Kontener na zawartość */
  .content {
    width: 90%;
    max-width: 1200px;
  }
  