/* car-list.component.css */

/* Przykładowe style dla kart */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 1rem;
  }

  .btn-disabled {
    background-color: #d6d6d6;
    color: #999999;
    border-color: #d6d6d6;
    cursor: not-allowed;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}
.button-box {
  display: grid;
  grid-auto-flow: column; /* Ustaw elementy w jednej kolumnie */
  gap: 10px; /* Odstępy między elementami */
  align-items: center; /* Wyrównanie w pionie */
}


