/* Nawigacja */
.navbar {
  display: flex; /* Użycie Flexbox do rozmieszczenia elementów */
  justify-content: space-between; /* Rozmieszczenie elementów: lewa, środkowa i prawa część */
  align-items: center; /* Wyrównanie elementów w pionie */
  background-color: #6c757d; /* Kolor tła navbaru (szary) */
  color: #f5f5f5;
  padding: 15px;
  position: fixed; /* Ustawienie navbaru na stałe */
  top: 0; /* Ustawienie navbaru na samej górze */
  left: 0; /* Ustawienie navbaru na całej szerokości */
  width: 100%; /* Na całą szerokość */
  z-index: 1000; /* Zapewnienie, że navbar będzie na wierzchu */
}

/* Zapewnienie, że zawartość nie będzie zakrywać navbaru */
.content {
  margin-top: 70px; /* Ustawienie marginesu górnego na wysokość navbaru */
}

/* Stylizacja przycisku logowania */
.btn-light {
  background-color: #f8f9fa;
  color: #6c757d;
  border: none;
  padding: 8px 16px;
  margin-right: 50px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-light:hover {
  background-color: #e2e6ea;
}
